/*global stuff*/
.black{
  background-color: black;
}

.cardinal{
  background-color: #9e0c0c;
}
.cText{
 color: #9e0c0c;
}

.bkgrd{
  height: 100vh;
  width: 100%;
  background-image: url("../images/bkgrd.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.stateContainer{
  width: 100%;
  height: 100vh;
}

a{
  text-decoration: none;
}

h2, h3, h4, h5, h6{
  font-family: 'Walter Turncoat', serif;
}
p{
    font-family: 'Kalam', serif;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.3em;
}

/*navigation bar*/
.navBar{
  height: 100px;
  width: 100vw;
  /*image*/
  background-image: url(../images/top_nav.png);
  background-size: cover;
  background-repeat: none;
  text-decoration: none;
  background-position: top;
  text-align: center;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  z-index: 5;
}
.navBarShadow{
  z-index: 4;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
  background-color: black;
  box-shadow: 0px 30px 50px black;
}


.navBtn{
  height: 100px;
  display: block;
  margin: 0 20px 0 20px;
  color: black;
  font-family: 'Special Elite', serif;
  font-size: 2em;
  padding-top: 45px;
  opacity: 0.7;

}

.homeBtn{
  z-index: 10;
  position: fixed;
  left: 5vw;
  top: 1px;
}

.homeBtnShadow{
  z-index: 9;
  position: fixed;
  left: 6.5vw;
  top: 28px;
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50px;
  box-shadow: 30px 30px 50px black;
}


.navSpacer{
  width: 20vw;
}


/*Home page*/
.mainContainer{
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  /*BACKROUND*/
  background: #1a1a1a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #1a1a1a, #242d2c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #1a1a1a, #242d2c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #1a1a1a, #242d2c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #1a1a1a, #242d2c); /* Standard syntax */
  padding-top: 120px;
  box-shadow: 10px 10px 50px black;
}

.slideShower{
  width: 70vw;
  height: 400px;
  background-color: white;
  margin: auto;
  background-image: url(../images/brisket.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.specialContainer{
  width: 70vw;
  margin:20px auto;
  display: flex;
  flex-flow:row;
  justify-content: center;

}

.dailySpecial{
  width:42vw;
  color: white;
  border: 2px solid white;
  margin: 10px 20px 10px 20px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

.phoneNum{
  margin-top: 10px;
  text-align: left;
  margin-bottom: 10px;
}





/*menu*/
.menuContainer{
  width: 80vw;
  margin: 0 auto;
  padding-top: 100px;
  box-shadow: 10px 10px 50px black;
  /*BACKROUND*/
  background: #1a1a1a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #1a1a1a, #242d2c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #1a1a1a, #242d2c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #1a1a1a, #242d2c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #1a1a1a, #242d2c); /* Standard syntax */

}

.sectionHeader{
  color: white;
  text-align: center;
  margin: 30px 0 30px 0;
}

.menuSectionContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.8;

}

.menuItemContainer{
  width:30vw;
  color: white;
  border: 2px solid white;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}
.menuSideContainer{
  width:20vw;
  color: white;
  border: 2px solid white;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

.menuItem{
  cursor: pointer;
  margin-bottom: 10px;
  color: #9e0c0c;
}

.menuItem:hover{
  color:white;
}

.price{
  margin-top: 10px;
  text-align: right;

}

/*Cart builder*/
.bagAdderBackground{
  height:100%;
  width: 100%;
  background-color: black;
  z-index: 10;
  position:fixed;
  top: 0;
  opacity: 0.5;
}

.bagAdderContainer{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position:fixed;
  top: 0;
  z-index: 19;

}

.bagAdder{
  width: 500px;
  background-color: white;
  z-index: 20;
  margin: auto;
  display: flex;
  justify-content: center;
}

.itemOrderContainer{
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 30px 30px 30px 30px;

}

.itemTopRow{
  width: 100%;
  display:flex;
  flex-flow: row;
  justify-content: center;
  background-color: #9e0c0c;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}
.orderItem{
  margin-right: 20px;
  color: white;
}
.qty{
  margin-top: 7px;
  margin-right: 10px;
}

.qCounter{
  color: white;
  margin-top: 7px;
  margin-right: 10px;
}
.qIncrementer{
  width:30px;
  height:30px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}

.arrow-up:hover {
  border-bottom: 15px solid gray;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
}
.arrow-down:hover{
  border-top: 15px solid gray;
}

.orderQuantity{
  width:40px;
}

.sauceOmeter{
  border: 4px solid black;
  margin-bottom: 10px;
}

.heat{
  text-align: center;
  margin-bottom: 5px;
}
.sauceOmeterImage{
  width: 400px;
  height: 75px;
  background-image: url(../images/heatometer.png);
  margin: 0 auto 10px auto;
}

.sauceBottles{
  height:100%;
  width:100%;
  z-index: 21;
  float: right;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-top: 7px;
}

.sauceLabels{
  width: 400px;
  display: flex;
  flex-flow: row;
  margin: -13px auto 10px;
}

.sLabel{
  flex: 1;
  color: white;
  display: table-cell;
  vertical-align: center;
  text-align: center;
  background-color: black;
}

.sLabel:hover{
  background-color: #9e0c0c;
}

.warning{
  color: #9e0c0c;
  text-align: center;
  margin-bottom: 10px;
}

.instructionsContainer{
  margin: 0 auto;
  text-align: center;
}

.specialInstructions{
  margin-bottom: 10px;
}

.instructions{
  width: 90%;
  height: 50px;
  margin: 0 auto 10px;
}

/*subtotals*/

.tally{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.itemSubtotal{
  color: #9e0c0c;
  margin-right: 20px;
  padding-top: 10px;

  text-align: center;

}
.itemTotal{
  background-color: #9e0c0c;
  padding: 10px 5px 5px 5px;
  color: white;
}


/*buttons*/


.buttonHolder{
  width: 100%;
  height: 128px;
  position: relative;
}

.buttonStripe{
  width: 100%;
  background-color: #9e0c0c;
  position: absolute;
  top: 30px;
}
.cancelButton{
  display: inline-block;
  height: 40px;
  color: white;
  padding: 12px 0 0 25px;
  font-size: 1.3em;
}
.cancelButton :hover{
  color: black;
}

.submitLabel{
  display: inline-block;
  height: 40px;
  color: white;
  padding: 12px 0 0 10px;
  margin-left: 25px;
  font-size: 1.3em;
}
.submitLabel :hover{
  color: black;
}

.submitButton{
  color: white;
  background-image: url(../images/bag.png);
  z-index: 25;
  height: 128px;
  width: 100px;
  position: absolute;
  right: 10px;
}

/*Contact information*/

.map{
  width: 600px;
  height: 300px;
  background-color: white;
  margin: auto;
  background-image: url('../images/placeholder_map.png');
}

/*ABOUT US*/
.aboutPic{
  height: 400px;
  width: 300px;
  background-color: white;
  float: left;
  margin-right: 30px;
  background-image: url('../images/window.jpg');
}


.storyContainer{
  width: 70vw;
  margin: auto;
}

.aboutHeadline{
  color: #9e0c0c;
  margin-bottom: 15px;
}

.sobStory{
  font-size: 1em;
  color: white;
  line-height: normal;
}


/*BAG*/
.bagContainer{
  width: 80vw;
  margin: 0 auto;
  min-height: 100%;
  padding-top: 100px;
  box-shadow: 10px 10px 50px black;
  /*BACKROUND*/
  background: #1a1a1a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #1a1a1a, #242d2c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #1a1a1a, #242d2c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #1a1a1a, #242d2c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #1a1a1a, #242d2c); /* Standard syntax */

}
.orderContainer{
  width: 90%;
  margin: auto;
  text-align: center;
  border: 4px solid #9e0c0c;
  padding-bottom: 20px;
}

.yourOrder{
  color: white;
  margin: 30px 0 30px 0;
}

.cartItemContainer{
  padding: 20px, auto;
}

.cartTopRow{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.cartItem{
  color: #9e0c0c;
  margin: 0 30px 0 30px;
}

.cartQty{
  color:white;
  margin: 0 30px 0 30px;
}
.cartPrice{
  color:white;
  margin: 0 30px 0 30px;
}

.cartSecondRow{
  margin: 10px 0 10px 50px;
  text-align: left;
}

.cartSauce{
  color: white;
}
.cartThirdRow{
  margin: 10px 0 10px 50px;
  text-align: left;
}
.cartInstructions{
  color: lightgray;
  padding-top: 3px;
}

.priceContainer{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  flex-flow: row;
}

.priceGroup{
  display: flex;
  flex-flow: row;
}

.priceText{
  margin-right: 5px;
  padding-top: 5px;
}

.priceBox{
  height: 30px;
  background-color: white;
  padding: 4px 30px 0 30px;
  color: black;
}

.submitContainer{
  margin-top: 30px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: #9e0c0c;
  padding: 5px 5px 5px 5px;
}
.submitter{
  display: flex;
  flex-flow: row;
}

.customerSubmit{
  margin: 15px 10px;
  height: 40px;
}

.subText{
  padding-top: 18px;
}

.finalSubmit{
  margin: 11px 0 0 0;
  color: black;
  cursor: pointer;
  padding: 5px 10px 10px 10px;
}
.finalSubmit:hover{
  color: white;
}
